<h2 class="govuk-heading-l">How to use Markdown to write stuff</h2>

<div class="gem-c-govspeak govuk-govspeak">
  <h3 class="govuk-heading-s">Headings</h3>
  <p>
  Leave a blank line, then start the next line with a #
  </p>
  <p>
  For smaller headings, use ## and ###
  </p>
  <h3 class="govuk-heading-s">Paragraphs</h3>
  <p>
  Leave a blank line and just type away
  </p>
  <h3 class="govuk-heading-s">Bullet lists</h3>
  <p>
  Use a hyphen at the start of a line for an unordered bullet list
  </p>
  <p>
  For a numeric bullet list, start each line with the digit
  </p>
  <h3 class="govuk-heading-s">Pictures</h3>
  <p>
  ![The title of the picture](https://i.stack.imgur.com/2z82c.jpg)
  </p>
  <p>
  The syntax is a bit fiddly,  ![The title](The URL)
  </p>
  <p>
  You can either link to other people's URLs or upload your own 'assets' and link to them
  </p>
  <h3 class="govuk-heading-s">Links to pdfs</h3>
  <p>
  Just like pictures, but omit the first !
  </p>
  <p>
  [Example link to a PDF](https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf)
  </p>
  <h3 class="govuk-heading-s">Links to other people's pages</h3>
  <p>
  [text for the link](https://bbc.co.uk)
  </p>

</div>
