<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-width-container govuk-!-margin-bottom-7">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Members area
        </h1>
        <p class="govuk-body-l">Pages and documents just for members</p>
      </div>
    </div>
  </div>
</div>
